@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
    max-width: auto;
    aspect-ratio: auto;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 5px #000000;
  }
}