@tailwind base;
@tailwind components;
@tailwind utilities;

.descrip {
  @apply hidden;
}

.release:hover .descrip {
  @apply block;
}

@layer base {
  img {
    width: auto;
    max-width: auto;
    aspect-ratio: auto;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 3px #FF0000,
      0 0 5px #0000FF,
      0 0 5px #000000;
  }
}