@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    max-width: 1440px;
    margin   : 0 auto;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 5px #000000;
  }
}